


body{
  width: 100vw;
  height: 100%;
}

.container{

  max-width: 900px;
  height: 520px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.2);
  box-sizing: border-box;
  padding: 40px;

}
p{
  font-family: Montserrat;
  text-align: center;
  letter-spacing: 2px;
  font-size: 38px;
  margin-bottom: 20px;
  color: #486255;
}

::-webkit-input-placeholder{
  font-family: Montserrat;

}
 .buttons{
  display: flex;
  justify-content: center;
  border:none;
  background:transparent;
  padding-top: 20px;
  margin: 10px;
}
.btn {

  display:block;
  justify-items:center;
  width: 160px;
  background: #4484CE;
  height: 42px;
  padding-top: 10px;
  text-align: center;
  font-family: Montserrat;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  padding-bottom: 5px;
  margin:10px;
  font-size: 18px;
  font-weight:bold;
  border:none;
}
.btn:hover{
  background-color:#4471Ce;

}
.btn2 {
  display:block;
  justify-items:center;
  width: 160px;
  background: tomato;
  height: 42px;
  padding-top: 10px;
  text-align: center;
  font-family: Montserrat;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  padding-bottom: 5px;
  margin:10px;
  font-size: 18px;
  font-weight:bold;
  border:none;

}
.btn2:hover{
  background-color:#f05;

}

.createForm{

  display:flex;
  margin: 5px;
  margin-top: 10px;
}

  input {
      width: 260px;
      height: 30px;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 25px;
      border: 2px solid #e9eaea;
      font-size: 14px;
      border-radius: 5px;
      outline: none;
      transform: all 0.5s ease;
  }

  .small-label{
    padding-top:18px;
  }

  input:focus{
  border: 2px solid #4484CE;
}

  label{
  font-family: Montserrat;
  font-weight:bold;
  font-size: 14px;
  margin: 4px;


}

.react-select{
  width: 120px;
  height: 10px;
  box-sizing: border-box;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
  background:transparent;


}
.react-select:focus{
  border: 2px solid #4484CE;
}




